.body {
  font-family: "poppins", sans-serif;
}

.search-icon-field input:focus-visible,
button:focus,
button:focus-visible {
  outline: 0 !important;
}

.my_chart {
  pointer-events: none;
  width: 90px;
  height: 100%;
}
.chartjs-size-monitor {
  display: none;
}

.navbar {
  display: flex;
  flex-direction: row;
  height: 90px;
  padding-left: 80px !important;
  padding-right: 80px !important;
  background-color: white;
  border-bottom: 1px solid #f0f0f0;
}
.nav-rightSide {
  gap: 20px;
  justify-content: flex-end;
}
.btn-login {
  padding: 12px 24px;
  border-radius: 100px;
  background: #02C7F4;
  border: none;
  color: white;
}

.btn-signup {
  padding: 10px 24px;
  border-radius: 100px;
  background: white;
  color: #02C7F4;
  border: 2px solid #02C7F4;
}
.btn-signup:active {
  border-color: #02C7F4 !important;
}
.btn-signup:active::before {
  border-color: #02C7F4 !important;
}
.btn-signup:active::after {
  border-bottom: #02C7F4;
}
.search-input {
  border: none;
  background: none;
  width: 100%;
  height: 100%;
  padding: 12px 0px;
}
.search-input:active:focus {
  border: none;
}
.btn-info {
  border: none;
  font-size: 32px !important;
  background: none !important;
  color: #7e797b !important;
}
.navbar-brand {
  display: flex !important;
  font-size: 64px !important;
  font-weight: 800;
  align-items: center;
  justify-content: center;
  img {
    width: 64px;
    height: 64px;
  }
}
.organizations-count {
  padding-left: 80px;
  padding-right: 80px;
  height: 12vh;
  align-items: center;
  display: flex;
  h3 {
    font-size: 28px;
    font-weight: 700;
  }
}
.main-content {
  width: 100%;
  display: flex;
  flex-direction: row;
  padding: 0px 80px;
  align-items: flex-start;
  gap: 50px;
}
.filter-side {
  display: flex;
  flex: 0 0 20%;
  flex-direction: column;
  align-items: flex-start;
  gap: 30px;
}
.details-side {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}
.btn-country, .btn-city, .btn-topics {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  border: none;
  background: none;
  border-bottom: 1px solid #cecdca;
}

.filters {
  width: 100%;
}
.country-form {
  display: none;
}
.country-form.active {
  display: block;
}
.btn-country .btn-country-icon {
  transition: transform 0.3s ease;
}
.btn-country:not(.open) .btn-country-icon {
  transform: rotate(180deg);
}
.btn-country.open .btn-country-icon {
  transform: rotate(0deg);
}

.city-form {
  display: none;
}
.city-form.active {
  display: block;
}
.btn-city .btn-city-icon {
  transition: transform 0.3s ease;
}
.btn-city:not(.open) .btn-city-icon {
  transform: rotate(180deg);
}
.btn-city.open .btn-city-icon {
  transform: rotate(0deg);
}

.topics-form {
  display: none;
}
.topics-form.active {
  display: block;
}
.btn-topics .btn-topics-icon {
  transition: transform 0.3s ease;
}
.btn-topics:not(.open) .btn-topics-icon {
  transform: rotate(180deg);
}
.btn-topics.open .btn-topics-icon {
  transform: rotate(0deg);
}

.country, .city, .topics {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;

  form {
    width: 100%;
  }

  #country-label,
  #city-label,
  #topics-label {
    display: flex;
    width: 100%;
    align-items: center;
    gap: 20px;
    font-size: 18px;
    font-weight: 700;
  }
}
.filter-buttons {
  padding: 10px 0px;
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: flex-start;
  gap: 10px;
}

.btn-apply {
  display: flex;
  padding: 3px 12px;
  gap: 5px;
  font-size: small;
  border-radius: 100px;
  border: 1px solid #02C7F4;
  background: #02C7F4;
  color: white;
  justify-content: center;
  align-items: center;
}
.btn-cancel {
  display: flex;
  padding: 3px 12px;
  justify-content: center;
  align-items: center;
  gap: 5px;
  font-size: small;
  border-radius: 100px;
  border: 1px solid #02C7F4;
  background: white;
  color: #02C7F4;
}
.data-container {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  border-radius: 30px;
  background: #fff;
  box-shadow: 0px 4px 40px 0px rgba(0, 0, 0, 0.1);
}
.details-below{
  padding: 0px 40px 40px 40px;
}
.heading {  
  border-radius: 30px 30px 0px 0px;
  display: flex;
  width: 100%;
  padding: 40px 40px 20px 40px;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  border-bottom: 1px solid #dadad7;
  background-color: #f7fcff;
  h3 {
    color: #02C7F4;
    font-size: 36px;
    font-weight: 700;
  }
  p {
    color: #383838;
    font-size: 20px;
    font-weight: 400;
    span {
      color: #02C7F4;
    }
  }
}
.other-names {
  font-size: 16px;
  font-weight: 400;
  color: #383838;
  span {
    color: black;
    font-weight: 700;
  }
}
.details {
  width: 100%;
  display: grid;
  grid-template-columns: 50% 50%;
  padding-top: 20px;
  justify-content: space-between;
  align-items: flex-start;
  gap: 10vh;

  .left-details {
    display: flex;
    flex: 0 0 50%;
    flex-direction: column;
    align-items: flex-start;
    gap: 40px;
    .cards {
      display: flex;
      width: 100%;
      flex-direction: column;
      align-items: flex-start;
      gap: 10px;
      .card-1 {
        display: flex;
        width: fit-content;
        align-items: center;
        justify-content: space-between;
        gap: 20px;
        border-radius: 30px;
        h3 {
          margin: 0;
          font-size: 24px;
          font-weight: 700;
          width: 130px;
          margin-right: 10px;
        }
        p {
          width: 100px;
          margin: 0;
          font-style: normal;
          font-size: 18px;
          font-weight: 400;
          color: #383838;
        }
      }
    }
    .chart {
      gap: 10px;
      display: flex;
      flex-direction: row;
      background-color: #f7fcff;
      width: fit-content;
      padding: 20px 40px;
      justify-content: flex-start;
      align-items: center;
      border-radius: 30px;
      border: 1px solid #e4f3fc;
      h3,
      p {
        text-align: center;
        margin: 0;
      }
    }
  }
  .right-details {
    display: flex;
    flex: 0 0 50%;
    flex-direction: column;
    align-items: flex-start;
    gap: 2vh;
    .container-1 {
      display: flex;
      gap: 10px;
      flex-direction: column;
      align-items: flex-start;
      align-self: stretch;
      h3 {
        margin: 0;
        font-size: 22px;
        font-weight: 700;
      }
      p {
        margin: 0;
        font-size: 17px;
        font-weight: 400;
        color: #383838;
      }
    }
  }
}

.inner-container {
  display: flex;
  align-items: center;
  gap: 20px;
  align-self: stretch;
  h3 {
    font-size: 18px !important;
    font-weight: 600;
  }
  p {
    font-size: 16px !important;
    font-weight: 400;
    color: #383838;
  }
}

.btn-details {
  display: flex;
  padding: 8px 18px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 100px;
  background: #02C7F4;
  border: none;
  color: white;
}

.navigation{
  width: 100%;
}

.pagination {
  margin-top: 20px;
  gap: 10px;
}
.page-link {
  border: none !important;
  color: #383838 !important;
  font-size: 18px !important;
  font-weight: 600;
}
.page-item.active .page-link {
  background-color: gray !important; /* Gray background */
  color: white !important; /* White text color */
  font-weight: 600;
  border-radius: 100%; /* Border radius of 100% */
}
.section {
  margin-top: 20px;
  background-color: #f7fcff;
  padding: 40px 80px;
  h2 {
    font-size: 28px;
    font-weight: 700;
  }
  .subscription {
    display: flex;
    flex-direction: column;
  }
  .curation-request {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
  .email {
    width: 80%;
    padding: 12px 24px;
    border-radius: 100px;
    border: none;
    background: #ffffff;
    margin-top: 20px;
  }
  .btn-subscribe,
  .btn-request {
    width: fit-content;
    margin-top: 20px;
    padding: 12px 24px;
    border-radius: 100px;
    background: #02C7F4;
    border: none;
    color: white;
  }
  .contact-shortcode-right {
    text-align: right !important;
  }
}
@media (max-width: 1024px) {
  
  .main-content {
    padding: 0px 20px;
  }
  .navbar {
    padding: 10px 20px !important;
  }
  .filter-buttons {
    flex-direction: column;
  }
  .organizations-count {
    padding-left: 20px;
    padding-right: 20px;
  }
  .section {
    padding: 80px 20px;
    h2 {
      text-align: center;
    }
    .email {
      width: 100%;
    }
    .subscription {
      align-items: center !important;
    }
    .contact-shortcode-right {
      margin-top: 20px;
    }
    .curation-request {
      align-items: center !important;
    }
  }
  

}

@media (max-width: 768px) {
  .pagination{
    justify-content: center;
  }
  .main-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0px 20px;
  }
  .filter-side {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .navbar {
    padding: 10px 20px !important;
  }
  .details {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .organizations-count {
    padding-left: 20px;
    padding-right: 20px;
    justify-content: center;
    align-items: center;
  }

  .left-details {
    width: 100%;
  }
}
.website-link {
  color: #02C7F4 !important;
}

.search-icon-field {
  display: flex;
  width: 50%;
  margin-right: 20%;
  vertical-align: middle;
  align-items: flex-start;
  gap: 10px;
  border-radius: 100px;
  border: none;
  background: #f0f0f0;
}
.navbar-collapse{
  background-color: #fff;
  gap: 20px;
}
